<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866715179835-9mitgojpsnld00ctfnss1q05nt065gc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866715179835-9mitgojpsnld00ctfnss1q05nt065gc9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>866715179835-brs4mgmkrsrpju7of5d0ljgv7r17ch3g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUvlY3QbcVjlPuWb3SIHpLpTK05UeGq7k</string>
	<key>GCM_SENDER_ID</key>
	<string>866715179835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chaDeLingerie</string>
	<key>PROJECT_ID</key>
	<string>cha-de-lingerie-ebda2</string>
	<key>STORAGE_BUCKET</key>
	<string>cha-de-lingerie-ebda2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866715179835:ios:8bde5e79b43635665db51e</string>
	<key>DATABASE_URL</key>
	<string>https://cha-de-lingerie-ebda2.firebaseio.com</string>
</dict>
</plist>